@define-color primary-text rgb (255, 182, 193); 
@define-color secondary-text rgb (144, 238, 144); 
@define-color alert-text rgb (255, 0, 0); 

@define-color window-grad1 rgba (238, 130, 238, 0.933); 
@define-color window-grad2 rgba (130, 238, 130, 0.933); 
@define-color window-inactive rgba (89, 89, 89, 0.667); 

@define-color kitty-background rgba (27, 28, 36, 0.8); 
@define-color kitty-foreground rgb (203, 204, 198); 

window {
	margin: 6px;
	/* border-top: 1px solid @window-inactive; */
	/* border-bottom: 1px solid @window-inactive; */
	border: 1px solid @window-inactive;
	background-color: @kitty-background;
	color: @kitty-foreground;
	font-family: "Sauce Code Pro Nerd Font";
	font-size: 14px;
}

#input {
	color: @secondary-text;
	border: 1px solid @window-inactive;
	background-color: @kitty-background;
}

#inner-box {
}

#outer-box {
}

#scroll {
}

#text {
	margin: 5px;
	border: none;
	background-color: transparent;
}

#img {
	margin: 5px;
	border: none;
	background-color: transparent;
}

#entry:selected {
	background-color: transparent;
	border: 1px solid @window-grad1;
	color: none;
}

#text:selected {
	
}
